@import url("cartao.css");
@import url("cabecalho.css");
@import url("corpo.css");
@import url("rodape.css");
@import url("menulateral.css");

* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

section {
    /* border: .1rem solid blue; */
    display: flex;
    flex: 1;
}



main {
    /* border: .1rem solid purple; */
    display: flex;
    flex: 1;
    padding: .5rem;
}